@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@theme {
  --font-inter: 'Inter', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --color-primary: #f47f20;
  --color-hover: #fc7100;
}
@layer base {
  h1 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }
  h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }
  button {
    color:white;
    font-family: 'Inter', sans-serif;
    background: var(--color-primary);
    transition: all ease 300ms;
  }
  button:hover{
    background: var(--color-hover);
    cursor: pointer;
  }
  button:active{
    background: white;
  }
  .responsive-padding{
    padding: 0 16px;
  }
  .active{
    color: var(--color-primary);
  }
  @media (min-width: 640px) {
    /* sm */
    h1 {
      font-size: 24px;
      font-weight: 700;
      font-family: 'Inter', sans-serif;
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
      font-family: 'Inter', sans-serif;
    }
    h3 {
      font-size: 18px;
      font-weight: 500;
      font-family: 'Inter', sans-serif;
    }
    h4 {
      font-size: 16px;
      font-weight: 500;
      font-family: 'Inter', sans-serif;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
    }
    button {
      font-family: 'Inter', sans-serif;
    }
    .responsive-padding{
      padding: 0 16px;
    }
  }

  @media (min-width: 768px) {
    /* md */
    h1 {
      font-size: 32px;
      font-weight: 700;
      font-family: 'Inter', sans-serif;
    }
    h2 {
      font-size: 24px;
      font-weight: 600;
      font-family: 'Inter', sans-serif;
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
      font-family: 'Inter', sans-serif;
    }
    h4 {
      font-size: 18px;
      font-weight: 500;
      font-family: 'Inter', sans-serif;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
    }
    button {
      font-family: 'Inter', sans-serif;
    }
    .responsive-padding{
      padding: 0 16px;
    }
  }

  @media (min-width: 1024px) {
    /* lg */
    h1 {
      font-size: 48px;
      font-weight: bo700ld;
    }
    h2 {
      font-size: 32px;
      font-weight: 600;
    }
    h3 {
      font-size: 24px;
      font-weight: 500;
    }
    h4 {
      font-size: 20px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
    }
    button {
      font-family: 'Inter', sans-serif;
    }
    .responsive-padding{
      padding: 0 0;
    }
  }
}
.slick-slide > div{
  margin: 0 10px;
}